
.tablero{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
    height: 800px;
    border: 5px solid black;
}


.linea{
    display: flex;
    gap: 0;
    margin: 0;
    width: 100%;
    height: 100px;
}


.black{
    background-color: grey;
}

.white{
    background-color: white;
}

span{
    width: 100%;
    height: 100p;
}

span img{
    width: 50px;
    padding: 10px 40px;
}