* {
    margin: 0;
    padding: 0;
}

.seccion-1 {
    margin: 0 auto 50px;
    width: 950px;
}

.seccion-1 .container {
    padding: 100px;
    font-size: 0;
}

.box {
    padding: 25px;
    width: 26.33%;
    display: inline-block;
    vertical-align: top;
    height: 336px;
    position: relative;
    font-size: 16px;

    p {
        margin-bottom: 40%;
    }

    button {
        width: 60%;
        height: 45px;
        border-radius: 15px;
        border: none;
        position: absolute;
        bottom: 30px;
        left: 30px;
    }

    h2 {
        margin-bottom: 10%;
    }
}

#box-1 {
    background-color: #df852f;
    color: white;
}


#box-2 {
    background-color: #116872;
    color: white;
}


#box-3 {
    background-color: #06413f;
    color: white;
}

.seccion-2 {
    margin: 0 auto 50px;
    width: 1000px;
}

.seccion-2 .container {
    padding: 100px;
    font-size: 0;
}

.img-furniture {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.img-furniture img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
}

.text-furniture {
    width: 56%;
    padding: 0 0 0 4%;
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
}

.text-furniture img {
    width: 11%;
    height: 126%;
    border-radius: 70px;
}

.text-furniture h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.text-furniture p {
    margin-bottom: 30px;
    color: #555;
}

.perfil {
    position: relative;
    height: 50px;
}

#foto-perfil {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

.nombre-perfil {
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
}

.nombre-perfil h3 {
    font-size: 16px;
    margin-bottom: 5px;
}

.nombre-perfil span {
    color: rgb(174, 173, 173);
    font-size: 14px;
}

#icono-share {
    width: 20px;
    height: 20px;
    margin-left: 44%;
    position: absolute;
    right: 0;
    top: 15px;
}

.seccion-3 {
    margin: 0 auto 50px;
    width: 600px;

}

.seccion-3 .container {
    background-color: #182640;
    width: 50%;
    padding: 27px;
    border-radius: 10px;
}

.seccion-3 .img {
    width: 100%;
    margin-bottom: 20px;
}

.seccion-3 .img img {
    width: 100%;
    border-radius: 8px;
}

#equilibrium-text {
    color: #4e6181;
    margin-bottom: 20px;

    h3 {
        color: white;
        margin-bottom: 10px;
        font-size: 20px;
    }
}

.container .information {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid #2f2f2f;
    font-size: 0;

    span {
        vertical-align: middle;
        font-size: 14px;
        color: #677a9a;
    }
}

.information>div {
    display: inline-block;
    width: 49%;
    vertical-align: middle;
    font-size: 16px;
    /* Restablece el tamaño de fuente */
}

.information img {
    width: 15px;
    height: 15px;
    margin-right: 8px;
    vertical-align: middle;
}

#vinilo {
    background-color: grey;
    border-radius: 100px;
}

.days {
    text-align: right;
}

.day span {
    color: #8bacd9;
}

.creation {
    font-size: 0px;

    img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        border: 1px solid white;
        display: inline-block;
        vertical-align: middle;
        margin-right: 15px;
    }

}

.creation span {
    vertical-align: middle;
    font-size: 14px;
}

.creation #span1 {
    color: #4b699c;
}

.creation #span2 {
    color: rgb(171, 171, 171);
}

h1 {
    text-align: center;
    margin: 30px 0;
    color: #2c3e50;
}